{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="en" {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap-theme.css') }}">
{% endblock %}



{% block navbar %}
<div class="navbar navbar-fixed-top">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', 'logo.svg') }}" alt="" height="150" width="150" alt="logo">
    </a>
        
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" href="/">Home</a>
    </ul>
    
</div>
{% endblock %}

