{% extends "base.html" %}

{% block html_attribs %} lang="en" {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='bootstrap-theme.css')}}">
{% endblock %}

{% block content %}

<head>
    <title>{{ label }}</title>
</head>
<body>
    <div class="container justify-content-center d-flex" style="padding: 3%">
        <div class="card border-primary mb-3" style="width: 100%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <iframe width="100%" height="1000%" src="https://open.spotify.com/embed/playlist/{{ spotify_link }}"></iframe>
                    </div>
                    <div class="col-sm">
                        <iframe width="100%" height="1000%" src="{{ recipe_link }}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}