{% extends "base.html" %}

{% block content %}
<head>
    <title>{{ recipe_name }}</title>
</head>
<div class="container"> 
    <div class="row"> <!-- First Row-->
        <div class="col-sm">
            {{ recipe_cuisines }}
        </div>
        <div class="col-sm">
            {{ recipe_dishes }}
        </div>
        <div class="col-sm">
            <iframe src="https://open.spotify.com/embed/playlist/{{ spotify_link }}"></iframe>
        </div>
      </div>
    <div class="row"> <!-- Second Row-->
        <div class="col-sm">
            <img src="{{ image_link }}" alt="Recipe Image">
        </div>
        <div class="col-sm">
            <iframe src="{{ recipe_link }}"></iframe>
        </div>
    </div>
  </div>
{% endblock %}