{% extends "base.html" %}

{% block content %}
<head>
    <title>{{ recipeName }}</title>
  </head>

<div class="container"> 
    <div class="row"> <!-- First Row-->
        <div class="col-sm">
            {{ cusineType }}
        </div>
        <div class="col-sm">
            {{ dishType }}
        </div>
        <div class="col-sm">
            <iframe src="{{ spotifyLink }}">
              
            </iframe>  
        </div>
      </div>
    <div class="row"> <!-- Second Row-->
      <div class="col-sm">
        <img src="{{ imageFileLink }}" alt="Recipe Image">
      </div>
      <div class="col-sm">
        <iframe src="{{ recipeLink }}">
            
        </iframe>  
      </div>

    </div>
  </div>
  {% endblock}
